<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nurse.scheduling.mapper.ShiftMapper">

    <!-- 班种结果映射 -->
    <resultMap id="BaseResultMap" type="com.nurse.scheduling.entity.Shift">
        <id column="id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="time_slots" property="timeSlots" typeHandler="com.nurse.scheduling.config.TimeSlotListTypeHandler"/>
        <result column="duration" property="duration"/>
        <result column="color" property="color"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
