<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nurse.scheduling.mapper.UserMapper">

    <!-- 用户结果映射 -->
    <resultMap id="BaseResultMap" type="com.nurse.scheduling.entity.User">
        <id column="id" property="id"/>
        <result column="openid" property="openid"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="phone" property="phone"/>
        <result column="work_no" property="workNo"/>
        <result column="title" property="title"/>
        <result column="seniority" property="seniority"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
